@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.placeholder-text::placeholder {
  font-size: 15px;
  color: #626F86
}

.placeholder-field::placeholder {
  font-size: 30px;
  color: #626F86
}

.border-div {
  border: 0.1px solid #ffffff;
  transition: border 0.3s;
}

.border-div:hover {
  border: 0.1px solid #ded9d9;
  border-radius: 5px;
}

.text-info {
  color: #172B4D;
}